# Build
dist/
*.tsbuildinfo

# Dependencies
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Config
*.env
.env.local

# Reports
results/
*.json.report

# npm
npm-debug.log*
